body {
    font-family: Arial, sans-serif;
}

#map-container {
    text-align: center;
}

.lote-info {
    position: absolute;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* padding: 15px; */
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    z-index: 1000;
    display: none;
    /* Oculto por defecto */
    border: 1px solid #ddd;
    max-width: 250px;
}

.lote-info h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #2c3e50;
}

.lote-info p {
    margin: 5px 0;
}

.lote-info .estado {
    font-weight: bold;
}

.disponible {
    color: #27ae60;
}

.vendido {
    color: #e74c3c;
}

.reservado {
    color: #f39c12;
}

/* Cambiar color de fondo del lote según estado */
.cls-11.disponible {
    fill: #ceecc1;
}

.cls-11.vendido {
    fill: #f2dede;
}

.cls-11.reservado {
    fill: #fff27e;
}

#lot-map {
    display: block;
    margin: 0 auto;
}


/* SVG */

.cls-1,
.cls-2,
.cls-3,
.cls-4 {
    font-family: CenturyGothic-Bold, 'Century Gothic';
    font-size: 1.2em;
    font-weight: 700;
}


.cls-1,
.cls-5 {
    fill: #f97316;
}

.cls-2,
.cls-6 {
    fill: #10b981;
}

.cls-3,
.cls-7 {
    fill: #9d174d;
}

.cls-8 {
    fill: #fff;
}

.cls-4,
.cls-9 {
    fill: #c29308;
}


.cls-11 {
    fill: transparent;
    stroke: #b3b3b3;
    stroke-miterlimit: 10;
    stroke-width: .5px;
}

.cls-11:hover {
    stroke: #000;
    cursor: pointer;
}

.cls-street {
    font-family: Arial, sans-serif;
    font-size: 1em;
    fill: #000;
    font-weight: 700;
    text-anchor: middle;
    /* Centra el texto horizontalmente en x=369.25 */
}